.home-page {
  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto";
}
.todohead {
  background-color: crimson;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  color: white;
  margin: 0;
  height: 10vh;
}
.main-container {
  display: flex;
  height: 90vh;
}
.left-container {
  width: 30%;
  border-right: 1.5px solid black;
  height: 100%;
}
.right-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: rgba(153, 155, 155, 0.089);
  height: 50px;
  border-bottom: 1px solid #bfbfbf;
}
.icon {
  font-size: 30px;
  margin-right: 20px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.menu-item-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
.left-icon {
  font-size: 30px;
  color: #dc143c;
  margin-right: 20px;
  cursor: pointer;
}
.menu-item-container:hover,
.active {
  background-color: crimson;
  color: white;
}
.menu-item-container:hover .left-icon,
.active .left-icon {
  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.input-container input {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #dc143c;
  outline: none;
  margin-bottom: 20px;
  color: #dc143c;
}
.right-head {
  font-size: 35px;
  color: #dc143c;
  font-weight: bold;
  margin-top: 0;
}
.input-container input::placeholder {
  color: #dc143c;
}
.add-btn {
  height: 40px;
  width: 200px;
  background-color: #dc143c;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}
.tick-container {
    display: flex;
    align-items: center;
}
.icon-tick {
    color: #0fb132;
    font-size: 40px;
    margin-left: 10px;    
}